<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Scraping With Mongoose - NPR</title>
  <link rel="stylesheet" href="../../public/style.css" type="text/css" />
</head>

<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>

</html>