<div id="wrapper">
    <h1>NPR Scraper</h1>
    <div class="text-left">
        <a href="/scrape"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> SCRAPE NPR
                ARTICLES!</button></a>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>